{% extends "authentication/base.html" %} {% load static %} {% block title%}| Set
New Password {% endblock %} {% block contentBody %}

<div class="content top-space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="{% static 'img/login-banner.png' %}" class="img-fluid" alt="Doccure Login" />
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Set New Password</h3>
                            </div>

                            {% if form.errors %}
                            <!-- Non-field errors -->
                            {% if form.non_field_errors %}
                            <div class="alert alert-{{ message.tags }}">
                                {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <!-- Field-specific errors -->
                            <div class="alert alert-danger">
                                {% for field in form %} {% for error in field.errors %}
                                <p>{{ error }}</p>
                                {% endfor %} {% endfor %}
                            </div>
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3 form-focus">
                                    <input type="password" name="new_password1" class="form-control floating" />
                                    <label class="focus-label">New Password</label>
                                </div>
                                <div class="mb-3 form-focus">
                                    <input type="password" name="new_password2" class="form-control floating" />
                                    <label class="focus-label">Confirm New Password</label>
                                </div>
                                <button class="btn btn-primary w-100 btn-lg login-btn" type="submit">
                                    Reset Password
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contentBody %}