{% extends "user/base.html" %}
{% load static %} 

{% block title%}| Beauty {% endblock %}

{% block contentBody %}







<section class="banner-section-fifteen">
    <div class="sec-bg">
        <img src="assets/img/bg/ent-banner-bg-01.png" class="ban-blue-bg" alt="Img">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content banner-content-fifteen aos" data-aos="fade-up">
                    <h2>Painless, Safe Treatment</h2>
                    <h1>Hear what you have been Missing</h1>
                    <div class="banner-btns-fifteen">
                        <a href="appointments.html" class="btn btn-primary me-2">Make an Appointment</a>
                        <a href="booking.html" class="btn btn-primary btns-primarytwo">Quick Consultation</a>
                    </div>
                    <div class="d-sm-flex align-items-center">
                        <div class="aboutus-companyimg">
                            <a href="#">
                                <img src="assets/img/banner-fifteen-vd.jpg" alt="image" class="img-fluid">
                            </a>
                            <a href="https://www.youtube.com/embed/VXjGBqpbra0" data-fancybox>
                                <div class="playicon">
                                    <span>
                                        <i class="fa-solid fa-play"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="support-consult-main">
                            <div class="support-consult">
                                <div class="support-consult-img">
                                    <img src="assets/img/icons/customer-service-2.svg" alt="Service">
                                </div>
                                <div class="support-consult-right">
                                    <h6>24/7 Support</h6>
                                    <div class="rating rating-fifteen">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="support-consult">
                                <div class="support-consult-img">
                                    <img src="assets/img/icons/customer-service-1.svg" alt="Service">
                                </div>
                                <div class="support-consult-right">
                                    <h6>Online Consultation</h6>
                                    <span>Just 60 Secs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner-right-fifteen">
                    <img src="assets/img/banner-fifteen-ryt.png" alt="image" class="img-fluid">
                    <div class="banner-right-fifteenone">
                        <img src="assets/img/ban-fift-icon1.png" alt="Icon">
                    </div>
                    <div class="banner-right-fifteentwo">
                        <img src="assets/img/ban-fift-icon2.png" alt="Icon">
                    </div>
                    <div class="banner-right-fifteenthree">
                        <img src="assets/img/ban-fift-icon3.png" alt="Icon">
                    </div>
                    <div class="banner-right-fifteenfour">
                        <img src="assets/img/ban-fift-icon4.png" alt="Icon">
                    </div>
                    <div class="banner-right-fifteenseven">
                        <img src="assets/img/ban-fift-icon7.png" alt="Icon">
                    </div>
                    <div class="banner-right-fifteeneight">
                        <img src="assets/img/ban-fift-icon8.png" alt="Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="services-section-thirteen common-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 aos" data-aos="fade-up">
                <div class="section-header-thirteen">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="service-thirteen-main">
                    <div class="service-thirteen-all">
                        <div class="service-img-thirteen">
                            <img src="assets/img/clinic/service-1.jpg" alt="Service">
                        </div>
                        <div class="service-inner-contents">
                            <h5>Prenatal/New-born</h5>
                            <p>Comprehensive care & expert guidance from Day one</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="service-thirteen-main">
                    <div class="service-thirteen-all">
                        <div class="service-img-thirteen">
                            <img src="assets/img/clinic/service-2.jpg" alt="Service">
                        </div>
                        <div class="service-inner-contents">
                            <h5>New-born examinate</h5>
                            <p>Your baby's health is prioritized from the very beginning</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="service-thirteen-main">
                    <div class="service-thirteen-all">
                        <div class="service-img-thirteen">
                            <img src="assets/img/clinic/service-3.jpg" alt="Service">
                        </div>
                        <div class="service-inner-contents">
                            <h5>Vaccinations </h5>
                            <p>Ensuring a healthy start, our services prioritize vaccinations</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="service-thirteen-main">
                    <div class="service-thirteen-all">
                        <div class="service-img-thirteen">
                            <img src="assets/img/clinic/service-4.jpg" alt="Service">
                        </div>
                        <div class="service-inner-contents">
                            <h5>Blood tests</h5>
                            <p>Offering precise blood tests tailored for children</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="service-thirteen-main">
                    <div class="service-thirteen-all">
                        <div class="service-img-thirteen">
                            <img src="assets/img/clinic/service-5.jpg" alt="Service">
                        </div>
                        <div class="service-inner-contents">
                            <h5>diagnostic tests</h5>
                            <p>Services include state-of-the-art diagnostic tests</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="service-thirteen-main">
                    <div class="service-thirteen-all">
                        <div class="service-img-thirteen">
                            <img src="assets/img/features/feature-01.jpg" alt="Service">
                        </div>
                        <div class="service-inner-contents">
                            <h5>Home visits</h5>
                            <p>Through home visits, your child receives personalized attention</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="our-doctors-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-fifteen text-center">
                    <h2>Frequently <span>Asked Questions</span></h2>
                    <p>What our clients say about us</p>
                </div>
            </div>
        </div>
        <div class="owl-carousel our-slider-thirteen owl-theme aos" data-aos="fade-up">
            <div class="item">
                <div class="our-doctors-card">
                    <div class="doctors-header">
                        <a href="#"><img src="assets/img/doctors/doctor-01.jpg" alt="Ruby Perrin" class="img-fluid"></a>
                        <div class="img-overlay">
                            <span>$20 - $50</span>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <span class="d-inline-block average-ratings">3.5</span>
                        </div>
                        <a href="doctor-profile.html">
                            <h4>Dr. Ruby Perrin</h4>
                        </a>
                        <p>BDS, MDS - Oral & Maxillofacial Surgery</p>
                        <div class="location d-flex">
                            <p><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
                            <p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
                        </div>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
                            </div>
                            <div class="col-6">
                                <a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card">
                    <div class="doctors-header">
                        <a href="#"><img src="assets/img/doctors/doctor-04.jpg" alt="Deborah Angel"
                                class="img-fluid"></a>
                        <div class="img-overlay">
                            <span>$30 -$60</span>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="d-inline-block average-ratings">3.0</span>
                        </div>
                        <a href="doctor-profile.html">
                            <h4>Dr. Lisa Graham</h4>
                        </a>
                        <p>MBBS, MD - Cardialogist</p>
                        <div class="location d-flex">
                            <p><i class="fas fa-map-marker-alt"></i> San Diego, USA</p>
                            <p class="ms-auto"><i class="fas fa-user-md"></i> 120 Consultations</p>
                        </div>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
                            </div>
                            <div class="col-6">
                                <a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card">
                    <div class="doctors-header">
                        <a href="#"><img src="assets/img/doctors/doctor-03.jpg" alt="Sofia Brient"
                                class="img-fluid"></a>
                        <div class="img-overlay">
                            <span>$15 -$30</span>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="d-inline-block average-ratings">3.0</span>
                        </div>
                        <a href="doctor-profile.html">
                            <h4>Dr. Carrie Soderberg</h4>
                        </a>
                        <p>MBBS, DNB - Neurology</p>
                        <div class="location d-flex">
                            <p><i class="fas fa-map-marker-alt"></i> Dallas, USA</p>
                            <p class="ms-auto"><i class="fas fa-user-md"></i> 300 Consultations</p>
                        </div>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
                            </div>
                            <div class="col-6">
                                <a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="our-doctors-card">
                    <div class="doctors-header">
                        <a href="#"><img src="assets/img/doctors/doctor-02.jpg" alt="Darren Elder"
                                class="img-fluid"></a>
                        <div class="img-overlay">
                            <span>$20 - $50</span>
                        </div>
                    </div>
                    <div class="doctors-body">
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <span class="d-inline-block average-ratings">4.0</span>
                        </div>
                        <a href="doctor-profile.html">
                            <h4>Dr. Matthew Ruiz</h4>
                        </a>
                        <p>BDS, MDS - Oral & Maxillofacial Surgery</p>
                        <div class="location d-flex">
                            <p><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
                            <p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
                        </div>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
                            </div>
                            <div class="col-6">
                                <a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="finent-veterinary-sec">
    <div class="floating-bg">
        <img src="assets/img/bg/small-paw-2.png" alt="paw-image">
        <img src="assets/img/bg/care-sec-bg-1.png" alt="paw-image">
        <img src="assets/img/bg/small-paw-2.png" alt="paw-image">
    </div>
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <div class="veterinary-care-info">
                    <div class="section-header-fourteen service-inner-fourteen" data-aos="fade-up">
                        <h2>The Finest Veterinary Care</h2>
                        <p>Veterinary care encompasses a wide range of services aimed at promoting the health
                            and well-being of animals.</p>
                    </div>
                    <ul class="care-list aos" data-aos="fade-up">
                        <li>
                            <span>1</span>
                            <div class="care-list-info">
                                <h5>Experienced & Trained Staff</h5>
                                <p>Ongoing training, professional development, and a commitment to excellence
                                    are key components of a successful veterinary practice.</p>
                            </div>
                        </li>
                        <li>
                            <span class="active">2</span>
                            <div class="care-list-info">
                                <h5>Competent Medical Pet Care</h5>
                                <p>Ongoing training, professional development, and a commitment to excellence
                                    are key components of a successful veterinary practice.</p>
                            </div>
                        </li>
                        <li>
                            <span>3</span>
                            <div class="care-list-info">
                                <h5>Thoughtful Guidance & Advice</h5>
                                <p>Ongoing training, professional development, and a commitment to excellence
                                    are key components of a successful veterinary practice.</p>
                            </div>
                        </li>
                        <li>
                            <span>4</span>
                            <div class="care-list-info">
                                <h5>On-Site Pharmacy And Shop</h5>
                                <p>Ongoing training, professional development, and a commitment to excellence
                                    are key components of a successful veterinary practice.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-col-img">
                    <img src="assets/img/bg/dog-img.png" class="img-fluid" alt="Img">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="frequently-section-fifteen">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-fifteen text-center">
                    <h2>Frequently <span>Asked Questions</span></h2>
                    <p>What our clients say about us</p>
                </div>
            </div>
        </div>
        <div class="faq-main-cards" id="accordionExample">
            <div class="faq-card aos" data-aos="fade-up">
                <div class="faq-title">
                    <a data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">
                        <span>How do I book an appointment with a doctor?</span>
                    </a>
                    <div id="faqOne" class="card-collapse collapse show" data-bs-parent="#accordionExample">
                        <p>Yes, simply visit our website and log in or create an account. Search for a doctor
                            based on specialization, location, or availability & confirm your booking.</p>
                    </div>
                </div>
            </div>
            <div class="faq-card aos" data-aos="fade-up">
                <div class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqtwo" aria-expanded="false">
                        <span>Can I request a specific doctor when booking my appointment?</span>
                    </a>
                    <div id="faqtwo" class="card-collapse collapse" data-bs-parent="#accordionExample">
                        <p>Yes, you can usually request a specific doctor when booking your appointment, though
                            availability may vary based on their schedule.</p>
                    </div>
                </div>
            </div>
            <div class="faq-card aos" data-aos="fade-up">
                <div class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqthree" aria-expanded="false">
                        <span>What should I do if I need to cancel or reschedule my appointment?</span>
                    </a>
                    <div id="faqthree" class="card-collapse collapse" data-bs-parent="#accordionExample">
                        <p>If you need to cancel or reschedule your appointment, contact the doctor as soon as
                            possible to inform them and to reschedule for another available time slot.</p>
                    </div>
                </div>
            </div>
            <div class="faq-card aos" data-aos="fade-up">
                <div class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqfour" aria-expanded="false">
                        <span>What if I'm running late for my appointment?</span>
                    </a>
                    <div id="faqfour" class="card-collapse collapse" data-bs-parent="#accordionExample">
                        <p>If you know you will be late, it's courteous to call the doctor's office and inform
                            them. Depending on their policy and schedule, they may be able to accommodate you or
                            reschedule your appointment.</p>
                    </div>
                </div>
            </div>
            <div class="faq-card aos" data-aos="fade-up">
                <div class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqfive" aria-expanded="false">
                        <span>Can I book appointments for family members or dependents?</span>
                    </a>
                    <div id="faqfive" class="card-collapse collapse" data-bs-parent="#accordionExample">
                        <p>Yes, in many cases, you can book appointments for family members or dependents.
                            However, you may need to provide their personal information and consent to do so.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="testimonial-section-ten need-to-know-section">
    <div class="section-floating-bg">
        <img src="assets/img/bg/hexagen-group-1.png" alt="design-image">
        <img src="assets/img/bg/hexagon-group-2.png" alt="design-image">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 aos" data-aos="fade-up">
                <div class="section-header-one section-header-slider text-center">
                    <h2 class="section-title">What Our Patients Say</h2>
                    <p>Very happy with his care and would recommend to anyone else. Professional and
                        informative.</p>
                </div>
            </div>
            <div class="col-md-12 aos" data-aos="fade-up">
                <div class="owl-carousel testimonial-sliders nav-center">
                    <div class="testimonial-card">
                        <div class="testimonial-user-details">
                            <div class="d-flex align-items-center">
                                <div class="testimonial-user-img">
                                    <img src="assets/img/clients/client-07.jpg" class="img-fluid" alt="Martin Philips">
                                </div>
                                <div class="testimonial-user-name">
                                    <h5>Andrew</h5>
                                    <p>Newyork, USA</p>
                                </div>
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                            </div>
                        </div>
                        <div class="testmonial-user-coments">
                            <h6>“ Awesome Impact ”</h6>
                            <p>After suffering from a heart condition for a number of years I was very happy
                                to meet Doccure, from the first consultation where he believed there was a
                                solution...</p>
                        </div>
                    </div>
                    <div class="testimonial-card">
                        <div class="testimonial-user-details">
                            <div class="d-flex align-items-center">
                                <div class="testimonial-user-img">
                                    <img src="assets/img/clients/client-08.jpg" class="img-fluid" alt="James Anderson">
                                </div>
                                <div class="testimonial-user-name">
                                    <h5>James Anderson</h5>
                                    <p>Newyork, USA</p>
                                </div>
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                            </div>
                        </div>
                        <div class="testmonial-user-coments">
                            <h6>“ I am very grateful ”</h6>
                            <p>A Doctors explains everything clearly and helps you to understand even the most
                                complex medical term consultation</p>
                        </div>
                    </div>
                    <div class="testimonial-card">
                        <div class="testimonial-user-details">
                            <div class="d-flex align-items-center">
                                <div class="testimonial-user-img">
                                    <img src="assets/img/clients/client-09.jpg" class="img-fluid" alt="Christina Louis">
                                </div>
                                <div class="testimonial-user-name">
                                    <h5>Christina Louis</h5>
                                    <p>Newyork, USA</p>
                                </div>
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                            </div>
                        </div>
                        <div class="testmonial-user-coments">
                            <h6>“ Excellent Clinician ”</h6>
                            <p>Excellent clinician. Endlessly patient and reassuring.Also a very efficient
                                back up team. He was prepared to spend as long as I needed to understand
                                what he was saying.</p>
                        </div>
                    </div>
                    <div class="testimonial-card">
                        <div class="testimonial-user-details">
                            <div class="d-flex align-items-center">
                                <div class="testimonial-user-img">
                                    <img src="assets/img/clients/client-10.jpg" class="img-fluid" alt="Christina Louis">
                                </div>
                                <div class="testimonial-user-name">
                                    <h5>Sofia Nick</h5>
                                    <p>Newyork, USA</p>
                                </div>
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                                <i class="fa-solid fa-star filled"></i>
                            </div>
                        </div>
                        <div class="testmonial-user-coments">
                            <h6>“ Excellent Work ”</h6>
                            <p>Doctors explains everything clearly and helps you to understand even the most
                                complex medical terms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock contentBody %}