{% load static %} 



<header class="header header-custom header-fixed header-one home-head-one">
    <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="index.html" class="navbar-brand logo">
                    <img src="{% static 'img/logo-01.svg' %}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="{% static 'img/logo-01.svg' %}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>

            </div>
            <ul class="nav header-navbar-rht">
                <li class="register-btn">
                    <a href="register.php" class="btn reg-btn"><i class="feather-user"></i>Register</a>
                </li>
                <li class="register-btn">
                    <a href="login.php" class="btn btn-primary log-btn"><i class="feather-lock"></i>Login</a>
                </li>
                <li class="nav-item dropdown has-arrow logged-item">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="{% static 'img/doctors-dashboard/profile-06.jpg' %}"
                                width="31" alt="Darren Elder">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="{% static 'img/doctors-dashboard/profile-06.jpg' %}" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Hendrita</h6>
                                <p class="text-success mb-0">Available</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="index.php">Dashboard</a>
                        <a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>